n8n-workflow.json
{
  "name": "PlantDoc — Диагностика растений",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plant-analyze",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-analyze",
      "name": "Webhook — Получить фото",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "plant-analyze"
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем base64 из входящего запроса\n// Сайт шлёт multipart/form-data с полями: photo (файл) и/или base64\nconst body = $input.first().json.body || {};\nconst binaryData = $input.first().binary || {};\n\nlet base64Image = '';\nlet mimeType = 'image/jpeg';\n\n// Пробуем взять файл из binary\nif (binaryData.photo && binaryData.photo.data) {\n  base64Image = binaryData.photo.data;\n  mimeType = binaryData.photo.mimeType || 'image/jpeg';\n} else if (body.base64) {\n  // Или берём base64 из поля\n  base64Image = body.base64.replace(/^data:image\\/[a-z]+;base64,/, '');\n}\n\nif (!base64Image) {\n  throw new Error('Нет изображения в запросе');\n}\n\nreturn [{\n  json: {\n    base64: base64Image,\n    mimeType: mimeType,\n    source: body.source || 'website',\n    timestamp: body.timestamp || new Date().toISOString()\n  }\n}];"
      },
      "id": "code-extract",
      "name": "Извлечь изображение",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llava-phi3\",\n  \"stream\": false,\n  \"prompt\": \"Ты опытный фитопатолог. Посмотри на фото растения и дай лучший возможный диагноз. Не пиши JSON. Не пиши markdown. Отвечай строго в таком формате:\\n\\nРАСТЕНИЕ: название растения или 'Неизвестное растение'\\nПРОБЛЕМА: наиболее вероятная проблема или болезнь на русском\\nКАТЕГОРИЯ: fungal | bacterial | viral | pest | nutrient | watering | environmental | healthy\\nСЕРЬЕЗНОСТЬ: ok | warn | danger\\nУВЕРЕННОСТЬ: число от 0 до 100\\nДИАГНОЗ: 2-3 предложения о том, что видно на фото и почему это похоже на указанную проблему\\nЧТО ДЕЛАТЬ: 3-5 конкретных шагов, каждый с новой строки\\nСРОЧНОСТЬ: короткая формулировка срочности\\n\\nЕсли уверенность низкая, все равно дай предположение и честно укажи это в диагностике. Если растение выглядит здоровым, так и напиши, не выдумывай болезнь.\",\n  \"images\": [\"{{ $json.base64 }}\"],\n  \"options\": {\n    \"temperature\": 0.2,\n    \"num_predict\": 550\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "ollama-vision",
      "name": "llava-phi3 — Анализ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Парсим текстовый ответ llava-phi3\nconst raw = $input.first().json.response || '';\nconst cleaned = raw.replace(/```[a-z]*\\n?/gi, '').replace(/```/g, '').trim();\n\nconst get = (label) => {\n  const re = new RegExp('^' + label + '\\\\s*:\\\\s*([^\\\\n]+(?:\\\\n(?![A-ZА-ЯЁ][^\\\\n]*:\\\\s*).+)*)', 'mi');\n  const m = cleaned.match(re);\n  return m ? m[1].trim() : '';\n};\n\nconst plantName = get('РАСТЕНИЕ') || 'Растение';\nconst problem = get('ПРОБЛЕМА') || 'Вероятная проблема не определена';\nconst categoryRaw = (get('КАТЕГОРИЯ') || 'unknown').toLowerCase();\nconst severityRaw = (get('СЕРЬЕЗНОСТЬ') || 'warn').toLowerCase();\nconst confidenceRaw = get('УВЕРЕННОСТЬ');\nconst diagnosis = get('ДИАГНОЗ') || cleaned || 'Не удалось извлечь описание из ответа модели.';\nconst recommendationsRaw = get('ЧТО ДЕЛАТЬ') || '';\nconst urgency = get('СРОЧНОСТЬ') || '';\n\nconst severity = severityRaw.includes('ok') || severityRaw.includes('здоров') ? 'ok'\n  : severityRaw.includes('danger') || severityRaw.includes('critical') || severityRaw.includes('опас') ? 'danger'\n  : 'warn';\n\nconst confidence = Math.max(0, Math.min(100, parseInt(confidenceRaw, 10) || (severity === 'ok' ? 84 : severity === 'danger' ? 76 : 58)));\n\nconst recommendations = recommendationsRaw\n  ? recommendationsRaw.split(/\\n+/).map(s => s.replace(/^[-*•\\d.\\s]+/, '').trim()).filter(Boolean).join('\\n')\n  : '1. Сделайте более чёткое фото\\n2. Снимите лист с обеих сторон\\n3. Добавьте фото всего растения';\n\nconst parsed = {\n  plant_name: plantName,\n  disease: problem,\n  disease_category: categoryRaw,\n  severity,\n  confidence,\n  diagnosis,\n  recommendations,\n  urgency,\n  show_on_site: true\n};\n\nconst prevData = $('Извлечь изображение').first().json;\n\nreturn [{\n  json: {\n    ...parsed,\n    source: prevData.source || 'website',\n    timestamp: prevData.timestamp || new Date().toISOString(),\n    raw_response: raw\n  }\n}];"
      },
      "id": "code-parse",
      "name": "Парсить ответ Ollama",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS diagnoses (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  plant_name TEXT,\n  disease TEXT,\n  disease_category TEXT,\n  severity TEXT DEFAULT 'ok',\n  confidence INTEGER DEFAULT 0,\n  diagnosis TEXT,\n  recommendations TEXT,\n  urgency TEXT,\n  source TEXT DEFAULT 'website',\n  show_on_site BOOLEAN DEFAULT 1,\n  img_base64 TEXT,\n  created_at DATETIME DEFAULT CURRENT_TIMESTAMP\n);\nINSERT INTO diagnoses (plant_name, disease, disease_category, severity, confidence, diagnosis, recommendations, urgency, source, show_on_site, img_base64)\nVALUES (\n  '{{ $json.plant_name }}',\n  '{{ $json.disease }}',\n  '{{ $json.disease_category }}',\n  '{{ $json.severity }}',\n  {{ $json.confidence }},\n  '{{ $json.diagnosis.replace(/'/g, \"''\") }}',\n  '{{ $json.recommendations.replace(/'/g, \"''\") }}',\n  '{{ $json.urgency }}',\n  '{{ $json.source }}',\n  {{ $json.show_on_site ? 1 : 0 }},\n  '{{ $('Извлечь изображение').first().json.base64.substring(0, 500) }}'\n);\nSELECT last_insert_rowid() as id;",
        "options": {}
      },
      "id": "sqlite-insert",
      "name": "Сохранить в SQLite",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "sqlite": {
          "id": "sqlite-plantdoc",
          "name": "PlantDoc DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Формируем красивый ответ для сайта\nconst diagnosis = $('Парсить ответ Ollama').first().json;\nconst dbRow = $input.first().json;\n\nconst sevEmoji = { ok: '✅', warn: '⚠️', danger: '🚨' }[diagnosis.severity] || '⚠️';\n\nreturn [{\n  json: {\n    id: dbRow.id || Date.now(),\n    plant_name: diagnosis.plant_name,\n    disease: diagnosis.disease,\n    disease_category: diagnosis.disease_category,\n    severity: diagnosis.severity,\n    confidence: diagnosis.confidence,\n    diagnosis: diagnosis.diagnosis,\n    recommendations: diagnosis.recommendations,\n    urgency: diagnosis.urgency,\n    statusLabel: diagnosis.disease,\n    status: diagnosis.severity,\n    date: new Date().toLocaleString('ru-RU', { day:'2-digit', month:'2-digit', year:'numeric', hour:'2-digit', minute:'2-digit' }),\n    icon: sevEmoji,\n    show_on_site: diagnosis.show_on_site,\n    _source: 'analysis-complete'\n  }\n}];"
      },
      "id": "code-response",
      "name": "Сформировать ответ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-analyze",
      "name": "Ответить сайту",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "plant-analyze",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-cors",
      "name": "CORS preflight",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 460],
      "webhookId": "plant-analyze-cors"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "",
        "options": {
          "responseCode": 204,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, GET, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "respond-cors",
      "name": "CORS ответ",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 460]
    }
  ],
  "connections": {
    "Webhook — Получить фото": {
      "main": [[{ "node": "Извлечь изображение", "type": "main", "index": 0 }]]
    },
    "Извлечь изображение": {
      "main": [[{ "node": "llava-phi3 — Анализ", "type": "main", "index": 0 }]]
    },
    "llava-phi3 — Анализ": {
      "main": [[{ "node": "Парсить ответ Ollama", "type": "main", "index": 0 }]]
    },
    "Парсить ответ Ollama": {
      "main": [[{ "node": "Сохранить в SQLite", "type": "main", "index": 0 }]]
    },
    "Сохранить в SQLite": {
      "main": [[{ "node": "Сформировать ответ", "type": "main", "index": 0 }]]
    },
    "Сформировать ответ": {
      "main": [[{ "node": "Ответить сайту", "type": "main", "index": 0 }]]
    },
    "CORS preflight": {
      "main": [[{ "node": "CORS ответ", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [{ "name": "PlantDoc" }],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "local"
  }
}
